In [20]:
import numpy as np
import pandas as pd

In [21]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row_1','Row_2','Row_3','Row_4','Row_5'],columns=['C1','C2','C3','C4'])

In [22]:
df

       C1  C2  C3  C4
Row_1   0   1   2   3
Row_2   4   5   6   7
Row_3   8   9  10  11
Row_4  12  13  14  15
Row_5  16  17  18  19

In [27]:
#.LOC
#iloc
df.loc['Row_1']

C1    0
C2    1
C3    2
C4    3
Name: Row_1, dtype: int64

In [28]:
type(df.loc['Row_1'])

pandas.core.series.Series

In [30]:
df.iloc[0:3,:]

       C1  C2  C3  C4
Row_1   0   1   2   3
Row_2   4   5   6   7
Row_3   8   9  10  11

In [34]:
df_2=df.iloc[0:4,1:]

In [32]:
df.iloc[0:4,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15]])

In [33]:
df.iloc[0:4,1:].values.shape

(4, 3)

In [35]:
df_2.shape

(4, 3)

In [ ]:
df_2

In [47]:
df=pd.DataFrame(np.array[1,3,4,5,5,6,7,7,7,8,8,9,9].reshape(13,1))

TypeError: 'builtin_function_or_method' object is not subscriptable

In [53]:
df = pd.DataFrame(np.array([1,3,4,5,5,6,7,7,7,8,8,9,9]).reshape(13, 1),columns=['C1'])

In [54]:
df

    C1
0    1
1    3
2    4
3    5
4    5
5    6
6    7
7    7
8    7
9    8
10   8
11   9
12   9

In [56]:
df['C1'].unique()

array([1, 3, 4, 5, 6, 7, 8, 9])

In [57]:
df['C1'].value_counts()

C1
7    3
5    2
8    2
9    2
1    1
3    1
4    1
6    1
Name: count, dtype: int64